<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Employees List</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>List</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Employee ID</th>         
          <th>Name</th>
          <th>Department</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="list.code_emp"></td>
          <td><input class="form-control" ng-model="list.name"></td>
          <td><input class="form-control" ng-model="list.department"></td>
          <td><button class="btn btn-primary" ng-click="addEmp()">Add</button></td>
          <td><button class="btn btn-info" ng-click="updateEmp()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="employeelist">
          <td>{{list.code_emp}}</td>
          <td>{{list.name}}</td>
          <td>{{list.department}}</td>
          <td><button class="btn btn-danger" ng-click="delEmp(list._id)">Delete</button></td>
          <td><button class="btn btn-warning" ng-click="editEmp(list._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>